/*Estrutura do site
---------------------------------*/
body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

/* logo
--------------------------------*/
#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

/* Barra de navegação
-------------------------------*/
header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
   float: left;
}
